body {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.3944765406162465) 35%, rgba(0,157,255,1) 100%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

